// src/styles/_variables.scss

// Palette from Figma
$color-primary-dark-green: #AC3E32;
$color-primary-dark-gray: #343434;
$color-accent-red: #F80D38;
$color-accent-blue: #100DB1;
$color-white: #FFFFFF;
$color-warning-yellow: #FECA57;
$color-text-gray: #656565;
$color-light-gray: #E7E7E7;
$color-accent-light-blue: #78C8CF;
$color-accent-sky-blue: #2798F7;
$color-background-light-gray: #EDEDED;

// Colors from global theme
$color-background-light: #ffffff;
$color-foreground-light: #1a1a1a;
$color-background-dark: #050517;
$color-foreground-dark: #f1f1f1;

// Fonts (if needed)
$font-sans: Arial, Helvetica, sans-serif;